<footer class="footer">
  <div class="footer-wrapper">
    <h3>About</h3>
    <p>
      Salsabil is a blog dedicated to the Hanbali madhhab and the Islamic
      tradition more broadly. The primary objective is to to provide a reliable
      resource for English-speaking students of knowledge.
    </p>
  </div>
</footer>

<style>
  .footer {
    padding: 2rem;
    color: var(--gray);
    text-align: center;
    background: var(--off-white);
  }

  .footer-wrapper {
    max-width: 600px;
    margin: 0 auto;
    font-size: 12px;
    color: var(--gray-text);
    font-style: italic;
  }

  .footer-wrapper h3 {
    color: var(--gray-text);
    font-weight: 300;
  }

  .footer-wrapper p {
    text-align: left;
  }
</style>
