---
const today = new Date();
---

<footer>
  <div class="footer-wrapper">
    <h3>About</h3>
    <p class="na">
      Keys to the Unseen is a blog dedicated to Kalam and Islamic theology,
      following the methodology of the Ash’ari school. The primary objectives
      will be to argue for the truth of Islam, as well as to deconstruct
      alternative ideologies that challenge this truth.
    </p>
  </div>
</footer>
<style>
  footer {
    padding: 2rem;
    color: var(--gray);
    text-align: center;
    background: var(--off-white);
  }

  h3 {
    color: var(--gray-text);
    font-weight: 300;
  }

  .footer-wrapper {
    max-width: 600px;
    margin: 0 auto;
    font-size: 12px;
    color: var(--gray-text);
    font-style: italic;
  }

  .footer-wrapper p {
    text-align: left;
  }
</style>
