---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="">
  <h1
    class="text-center pt-6 pb-4 text-3xl font-bold text-secondary font-cinzel border-b"
  >
    <a href="/" class="hover:text-secondary-light transition-colors">
      {SITE_TITLE}
    </a>
  </h1>
  <nav class="font-medium border-b font-libre text-secondary">
    <ul class="flex justify-center text-sm">
      <li>
        <a href="/" class="inline-block px-4 py-3 hover:bg-primary-dark">
          Home
        </a>
      </li>
      <li>
        <a
          href="/resources"
          class="inline-block px-4 py-3 hover:bg-primary-dark"
        >
          Resources
        </a>
      </li>
      <li>
        <a href="/blog" class="inline-block px-4 py-3 hover:bg-primary-dark">
          Blog
        </a>
      </li>
      <li>
        <a href="/about" class="inline-block px-4 py-3 hover:bg-primary-dark">
          About
        </a>
      </li>
    </ul>
  </nav>
</header>
